/* styles.css */

/* Basic Reset */




/* Container for main content */
.container1 {
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.main_content {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/* Card Styles */
.card {
    background: rgb(39, 40, 41);
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 20%;
    margin: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    background:  rgb(8, 68, 100);
    transform: scale(1.1);
    border: #ddd;
}

.card-img img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_header {
    padding: 20px;
    text-align: center;
}

.card_header h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card_header p {
    color: #c7c0c0;
    margin-bottom: 15px;
}

.card_header .price {
    font-size: 1.2em;
    color: #c7c0c0;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #0056b3;
}
