.product-details-before-checkout {
  display: flex;
  flex-direction: column;
  /* border: 3px solid green; */
}

.product-details {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 55%;
  margin: 10px auto;
  background-color: #3d6ba049;
  /* border: 5px solid red; */
}

.product-image img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}

.product-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.product-meta {
  display: flex-end;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.product-meta span {
  font-size: 22px;
  font-weight: 600;
  color: #666;
  margin-bottom: 5px;
}

.product-description p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.637);
  line-height: 1.5;
  margin-bottom: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quantity-selector label {
  font-size: 16px;
  margin-right: 10px;
  color: #333;
}

.quantity-selector input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.cart-button,
.checkout-button,
.continue-shopping-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-button {
  background-color: #ff5722;
}

.cart-button:hover {
  background-color: #e64a19;
}

.checkout-button {
  background-color: #4caf50;
}

.checkout-button:hover {
  background-color: #45a049;
}

.continue-shopping-button {
  background-color: #2196f3;
}

.continue-shopping-button:hover {
  background-color: #1976d2;
}