@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.product-details-before-checkout {
  display: flex;
  flex-direction: column;
  /* border: 3px solid green; */
}

.product-details {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 55%;
  margin: 10px auto;
  background-color: #3d6ba049;
  /* border: 5px solid red; */
}

.product-image img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}

.product-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.product-meta {
  display: flex-end;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.product-meta span {
  font-size: 22px;
  font-weight: 600;
  color: #666;
  margin-bottom: 5px;
}

.product-description p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.637);
  line-height: 1.5;
  margin-bottom: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quantity-selector label {
  font-size: 16px;
  margin-right: 10px;
  color: #333;
}

.quantity-selector input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.cart-button,
.checkout-button,
.continue-shopping-button {
   padding: 10px 10px;
    margin-bottom: 7px;
    border: unset;
    border-radius: 5px;
    color: #212121;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    z-index: 1;
    background-color: #ffffffac;
    position: relative;
    font-weight: 700;
    font-size: 13px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.cart-button::before,
.checkout-button::before,
.continue-shopping-button::before{
   content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.cart-button:hover,
.checkout-button:hover,
.continue-shopping-button:hover{

  color: #e8e8e8;
}

.cart-button:hover::before,
.checkout-button:hover::before,
.continue-shopping-button:hover::before {
  width: 100%;
}


