@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  align-items: center;
  font-family: "Poppins", sans-serif;
  /* border: 5px solid red; */
  background: rgb(86, 153, 190);
}

.landingPage {
  width: 100%;
  height: 100%;
}

.LogInSignUpBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  list-style: none;
}

.LogInSignUpBtn li {
  margin-left: 10px;
  position: relative;
}

.LogInSignUpBtn a {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.LogInSignUpBtn a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.introduction h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.introduction h1 {
  font-size: 3rem;
  margin-top: 0;
}

.signUpContainer {
  position: relative;
  display: inline-block;
}

.signUpOptions {
  margin-top: 10px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 120px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  list-style: none;
}

.signUpContainer:hover .signUpOptions,
.signUpOptions:hover {
  display: flex;
  flex-direction: column;
}

.signUpOptions li {
  margin: 5px 0;
}

.signUpOptions a {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
}

.signUpOptions a:hover {
  background: rgba(0, 0, 0, 0.1);
}