@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


html{
   overflow: hidden;
}

.main-app {
   align-items: center;
   width: 100vw;  
   height: 100vh;
   background-color: #DDE6ED;
   overflow-x: hidden;
   
}
