@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



.doctor-consultation,
.therapy-booking-details,
.delivery-info,
.disorder-info {
    border-radius: 10px;
    margin: 1% 1%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}

.doctor-consultation-info,
.dash-therapy-info {
    display: flex;
    min-width: 100%;
    width: fit-content;
}

.dash-disorder-info {
    display: flex;
    padding-right: 3%;
    width: fit-content;
    /* border: #212121 solid 1px; */
    max-width: 95%;
    min-width: 95%;
}

.disorder-details {
    background: #5291b011;
    border-radius: 10px;
    margin: 1% 10% 1% 1%;
    padding: 2%;
    min-width: 60%;
}

.booked-doctor,
.booking-doctor {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.dash-booking-doc,
.dash-booked-doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #5291b011;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
}

.doctor-img {
    width: 28%;
    align-items: center;
    justify-content: center;
    height: 100%
}


.card-item-doc,
.card-item-therapy {
    background-color: #ffffffac;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 192px;
    height: 220px;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-item-doc:hover,
.card-item-therapy:hover {
    background-color: #5291b029;
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.card-item-doc h2,
.card-item-therapy h2 {
    font-size: 1.1rem;
    color: #285364;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.card-item-doc p,
.card-item-therapy p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

.card-item-doc p.label-square,
.card-item-therapy p.label-square {
    font-weight: 500;
    color: #285364;
    border: 0.5px solid #285364;
    border-radius: 10px;
    padding: 6px 10px;
    display: inline-block;
    margin-bottom: 5px;
    width: 80%;
}


.dashboard-heading {
    margin-top: 5px;
    /* margin-bottom: 0px; */
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    color: #263238;
}

.disorder-typography .dashboard-heading {
    font-size: xx-large;
    font-weight: 3000;
    color: #0b6a99;
    word-spacing: 5px;
}

.disorder-typography p {
    margin: 0% 5% 3% 5%;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    word-spacing: 7px;
    font-weight: 400;
    color: #285364;
}

.available-therapy {
    display: flex;
}

.dash-booked-therapy,
.dash-available-therapy {
    display: flex;
    justify-content: center;
    width: 100%;
}

.view-more-button {
    /* width: inherit; */
    padding: 10px 10px;
    margin-bottom: 7px;
    border: unset;
    border-radius: 5px;
    color: #212121;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    z-index: 1;
    background-color: #ffffffac;
    position: relative;
    font-weight: 700;
    font-size: 13px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.view-more-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.view-more-button:hover {
    color: #e8e8e8;
}

.view-more-button:hover::before {
    width: 100%;
}

.disorder-details button {
    /* border: 2px solid red; */
    margin: 5%;
}