.navbar {
    background-color: #5291b081;
    width: 100%;
    height: 60px;
    z-index: 2;
    top: 0;
    padding: 10;
    position: sticky;
    backdrop-filter: blur(20px);
    top: 0;
}

.navbar-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo-img {
    margin: 5px 25px;
    height: 50px;
    width: 50px;
    rotate: 45deg;
    opacity: 0.8;
}

.navbar-links-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-menu-button img {
    width: 24px;
    height: 24px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    font-size: 17px;
    font-weight: 350;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-link {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 25px;
    transition: background-color 0.3s ease-in-out;
}

.navbar-link:hover,
.navbar-link.active {
    border-bottom: #1f5c7a solid 3px;
    color: #062c3f;
}

.navbar-links-container.open {
    display: flex;
}

.products-dropdown {
    display: flex;
    flex-direction: column;
    background-color: #5291b0c7;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.products-dropdown .navbar-link {
    padding: 5px 1px;
}

.navbar-button {
    margin-right: 25px;
    width: 100px;
    height: 40px;
    border: 1px solid #fd3131;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    /* background: white; */
    font-size: 17px;
    font-weight: 350;
    color: #ff4930;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.navbar-button:hover {
    background: #f35b47;
    color: white;
    font-size: 1.1em;
}

.cart-log-out{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    gap: 20px;
    color: #662E26;
    cursor: pointer;
}

@media (max-width: 900px) {
    .navbar-menu-button {
        display: block;
        display: inline;
        justify-content: end;
        /* border: 1px solid #5291b0c7; */
    }

    .navbar-links-container {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .navbar-links-container.open {
        display: flex;
    }

    .navbar-links {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .navbar-link {
        margin: 10px 0;
        width: 100%;
        text-align: right;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .products-dropdown {
        align-items: flex-end;
        position: static;
        background-color: transparent;
        padding: 0;
        gap:0;
        margin-right: 20px;
    }

    .products-dropdown .navbar-link {
        align-items: flex-end;
        padding: 0;
        margin: 0;
    }

    .navbar-button {
        margin-right: 0;
        width: 80px;
        text-align: center;
        padding: 10px 0;
    }
}
