@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");



.login-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-div .circles {
    width: 95%;
    height: 100vh;
}

.login-contents {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}

.login-contents img {
    width: 40%;
}

.login-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background-color: #BDD1E1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.login-wrapper h1 {
    font-family: 'New Amsterdam', serif;
    width: 100%;
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #5C5C5C;
}

.login-wrapper .profile-form-group {
    margin: 5px;
    width: 100%;
    grid-template-columns: 100px 4px 1fr;
    align-items: center;
    justify-content: center;
}

.login-wrapper .profile-form-group label {
    display: flex;
    align-items: center;
    height: 50px;
}


.login-wrapper .profile-form-group select {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    transform: 1s ease-in-out;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #5C5C5C;
}

.login-wrapper .profile-form-group select option {
    background-color: #BDD1E1;
    font-family: 'Poppins', sans-serif;
    border: none;
    transform: 1s ease-in-out;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.login-wrapper .profile-form-group select option {
    opacity: 0.5;
}

.login-wrapper .profile-form-group select:focus {
    outline: none;
    border-bottom: 2px solid #3B9BE8;
    font-size: 16px;
    font-weight: 450;
}


.login-remember-forgot {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;

}


.loader-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.login-wrapper .view-more-button,
.login-wrapper .loader-div {
    width: 90%;
    height: 40px;
    margin: 10px 0px 30px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 16px;
}

.link-to-reg {
    color: #437196;
}

.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}



.loader-animation {
    display: none;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: an1 1s ease infinite;
}


@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 800px) {
    .login-contents img {
        display: none;
    }



    @media (max-width: 450px) {
        .login-wrapper {
            max-width: 300px;
        }

        .login-wrapper .profile-form-group {
            display: flex;
            flex-direction: column;
            margin: none;
            align-items: self-start;
            justify-content: center;
        }

        .login-wrapper .profile-form-group input {
            width: 90%;
        }

        .login-wrapper .profile-form-group select {
            width: 95%;
        }

        .profile-form-group span:nth-child(2) {
            content-visibility: hidden;
        }

        .password-toggle {
            margin-top: 30px;
            margin-right: 5px;
        }
    }
}


/* ------------------------------------------------- */



.resetpass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

.resetpass h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'New Amsterdam', serif;
    width: 100%;
    font-size: 35px;
    letter-spacing: 3px;
    color: #5C5C5C;
}

.resetpass form {
    width: 325px;
    padding: 25px;
    background-color: #BDD1E1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.input-box-in-resetpass {
    position: relative;
    height: 25px;
    width: 100%;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    color: #000000;
    border: none;
    border-bottom: 2px solid #031f4763;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.res-pass-div {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.input-box-in-resetpass:focus,
.input-box-in-resetpass:hover {
    border-color: #007bff;
}

.input-box-in-resetpass.invalid {
    border-color: rgba(255, 0, 0, 0.63);
    box-shadow: 0 0 5px rgba(225, 65, 65, 0.688);
}

.input-box-in-resetpass.valid {
    border-color: #2B831A;
}

.VerifyBtn {
    background-color: #0088ff;
    position: relative;
    height: 40px;
    width: 100%;
    left: 10px;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 5px;
    border-radius: 5px;
    appearance: none;
    border: none;
    transition: background-color 0.3s;
}

.VerifyBtn.sent {
    background-color: #2B831A;
}

.VerifyBtn:hover {
    background-color: #1100ff;
}


.recoverpassBtn {
    background-color: #0088ff;
    position: relative;
    height: 40px;
    outline: none;
    font-size: 1rem;
    left: 10px;
    color: #ffffff;
    margin-top: 5px;
    border-radius: 6px;
    appearance: none;
    border: none;
    transition: background-color 0.3s;
}

.recoverpassBtn:hover {
    background-color: #1100ff;
}

.password-input-container {
    width: 100%;
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 0px;
    top: 54%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777373;
}

@media (max-width: 480px) {
    .resetpass {
        padding: 10px;
    }

    .input-box-in-resetpass,
    .VerifyBtn,
    .recoverpassBtn {
        padding: 8px;
        font-size: 14px;
    }
}