.parentchilddivider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    border: #53295b43 solid 2px;
    border-radius: 10px;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: space-evenly;
}

.parent-child-profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSetting {
    height: 350px;
    width: 350px;
}

.form-details-childparent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.profile-form-childparent {
    border: 1px solid #7B91E6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #dadff282;
    gap: 15px;
    width: 95%;

}


.input-field-childparent {
    position: relative; 
    /* width: 95%; */
}

.input-field-childparent label {
    font-family: 'Roboto condensed', sans-serif;
    font-size: 1.1rem;
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    bottom: 20px;
    -webkit-transform: translateY(0.6rem);
    -ms-transform: translateY(0.6rem);
    transform: translateY(0.6rem);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.input-field-childparent input {
    /* padding: 10px 15px; */
    padding: 2.2% 1.5%;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;  
    letter-spacing: 1px;
    width: 94%;
}

.input-field-childparent input:focus,
.input-field-childparent input:valid {
    outline: none;
    border: solid 0.5px #0034deb2;
}

.input-field-childparent input:focus~label,
.input-field-childparent input:valid~label {
    -webkit-transform: translateY(-51%) translateX(-10px) scale(0.8);
    -ms-transform: translateY(-51%) translateX(-10px) scale(0.8);
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}
