.sign-up-page {
    min-height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 6fr 4fr;
    z-index: 2;
    position: relative;
}


.sign-up-form .view-more-button {
    margin-bottom: 10px;
}

.sign-up-image {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 10px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    margin: 10px 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #BDD1E1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-up-form h1 {
    font-family: 'New Amsterdam', serif;
    width: 100%;
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    color: #5C5C5C;
    text-decoration: underline;
}

.sign-up-in-feild {
    width: 90%;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 100px 10px 7fr;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    gap: 1%;
}


.sign-up-in-feild input,
.sign-up-in-feild select,
.add-info input {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5C5C5C;
    transform: 1s ease-in-out;
    font-size: 15px;
    font-weight: 400;
}

.sign-up-in-feild select {
    height: 35px;
}

.sign-up-in-feild input:focus,
.add-info input:focus {
    outline: none;
    border-bottom: 2px solid #3B9BE8;
    font-size: 16px;
    font-weight: 450;
}

.sign-up-in-feild select option {
    background-color: #BDD1E1;
    font-family: 'Poppins', sans-serif;
    border: none;
    transform: 1s ease-in-out;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.address {
    width: 93%;
    /* border: 1px solid blue; */
    align-items: center;
    /* justify-content: center; */
    display: grid;
    grid-template-columns: 16% 2% 26% 26% 27%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    gap: 1%;
}

.address label {
    margin-left: 5%;
}

.add-info {
    /* border: 1px solid yellow; */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


.sign-up-form .view-more-button,
.sign-up-form .loader-div {
    margin-bottom: 10px;
    width: 30%;
    height: 35px;
}



@media (max-width: 1000px) {
    .sign-up-image {
        display: none;
    }

    .sign-up-page {
        display: grid;
        grid-template-columns: 1fr;
    }


    @media (max-width: 500px) {
        .sign-up-form {
            margin: 10px;
            width: 95vw;
        }

        .sign-up-in-feild {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .sign-up-in-feild span,
        .address .add,
        .address span {
            display: none;
        }

        .sign-up-in-feild input,
        select {
            width: 95%;
        }

        .address {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .add-info {
            margin-left: 5px;
        }

        .add-info label {
            margin-left: 0px;
        }
    }

}