@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


.registration-contents {
    /* border: 5px solid red; */
    width: 100vw;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.registration-section {
    background-color: rgba(255, 255, 255, 0.445);
    width: 60vw;
    border-radius: 20px;
    /* border: 5px solid purple; */
}

.registration-main-part {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-main-part header {
    font-size: 1.8rem;
    color: #062248;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.registration-form {
    width: 100%;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid aqua; */
}

.registration-form .registration-input-box {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.registration-form .registration-input-box input,
.registration-form .registration-input-box select {
    position: relative;
    height: 50px;
    width: 97%;
    outline: none;
    font-size: 1rem;
    color: #000000;
    margin-top: 8px;
    border: 1px solid #031f4763;
    border-radius: 6px;
    padding: 0 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: box-shadow 0.3s ease;
}

.registration-form .registration-address {
    width: 95%;
    display: flex;
}
.registration-form .registration-address .registration-input-box {
    /* border: 5px solid green; */
    width: 100%;
}

.registration-form .registration-address .registration-input-box input {
    /* border: 5px solid green; */
    width: 90%;
}

.registration-form .registration-input-box input:focus,
.registration-form .registration-select-box:focus {
    box-shadow: 0 0 10px rgba(1, 22, 113, 0.422);
}

.registration-form .registration-input-box input:hover,
.registration-form .registration-select-box:hover {
    box-shadow: 0 0 10px rgba(1, 22, 113, 0.422);
}

.registration-form .registration-input-box .registration-password {
    position: relative;
}

.registration-form .registration-input-box .registration-password input {
    padding-right: 30px;
    width: 95%;
}

.password-icon {
    position: absolute;
    opacity: 50%;
    color: rgb(24, 23, 23);
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.registration-form .registration-submit-button {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30%;
    outline: none;
    font-size: 1rem;
    color: #000000;
    margin-top: 8px;
    border: 1px solid #031f4763;
    border-radius: 6px;
    padding: 0 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: box-shadow 0.3s ease;
}

.registration-form .registration-submit-button:hover {
    background: rgb(38, 73, 109);
}


@media screen and (max-width: 500px) {
    form .column {
        flex-wrap: wrap;
    }
}