@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

/* body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
} */

.container {
    margin-top: 250px;
    position: relative;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 1.8rem;
    color: #062248;
    font-weight: 500;
    text-align: center;
}

.container form {
    margin-top: 30px;
}

form .input-box {
    width: 100%;
    margin-top: 20px;
    /* border: 5px solid red; */
}

.container form .input-box label {
    font-size: 1.1rem;
    color: #333;
}

.container form .input-box input,
.container form .select-box {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #000000;
    margin-top: 8px;
    border: 1px solid #031f4763;
    border-radius: 6px;
    padding: 0 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: box-shadow 0.3s ease;
}

.container form .input-box input::placeholder,
.container form .input-box .date-input,
.container form .input-box .select-box option {
    color: #000000;
    font-size: 1rem;
    opacity: 0.6;
}


.container form .input-box input:focus,
.container form .select-box:focus {
    box-shadow: 0 0 10px rgba(1, 22, 113, 0.422);
}

.container form .input-box input:hover,
.container form .select-box:hover {
    box-shadow: 0 0 10px rgba(1, 22, 113, 0.422);
}

.container form .column {
    display: flex;
    column-gap: 15px;
}


.container form .input-box .password-container {
    position: relative;
}

.container form .input-box .password-container input {
    padding-right: 30px;
}

.password-icon {
    position: absolute;
    opacity: 50%;
    color: rgb(24, 23, 23);
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.container form button {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #000000;
    margin-top: 8px;
    border: 1px solid #031f4763;
    border-radius: 6px;
    padding: 0 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: box-shadow 0.3s ease;
}

.container form button:hover {
    background: rgb(38, 73, 109);
}


@media screen and (max-width: 500px) {
    form .column {
        flex-wrap: wrap;
    }
}