.therapy-details {
    width: 100%;
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    justify-content: center;
    align-items: start;
}

.therapy-details-image {
    position: sticky;
    top: 10%;
    padding: 10px;
}

.therapy-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5px 10px;
    width: 100%;
}

.details-of-therapy {
    margin: 5px 10px;
    text-align: center;
    background-color: #5291b036;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.details-of-therapy h2 {
    font-size: 40px;
    margin: 20px;
    font-family: 'New Amsterdam', serif;
    letter-spacing: 3px;
    color: #662E26;
}

.details-of-therapy p {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.availability {
    margin: 5px 10px;
    width: 98%;
    background-color: #5291b036;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;     
    border-radius: 10px;
}

.availability h3 {
    font-size: 30px;
    font-family: 'New Amsterdam', serif;
    letter-spacing: 2px;
    margin: 20px;
    color: #662E26;
}
.details-of-therapy .disorder-item-details .answer {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 0.442);
    border: none;
    border-radius: 10px;
    padding: 1% 3%;
    max-width: 100%;
    color: #662E26;
    resize: both;
    overflow: auto;
    min-height: 310px;
    text-wrap: wrap;
    min-width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: #662f2658 #f1f1f198;
}

.details-of-therapy .disorder-item-details .answer::-webkit-scrollbar {
    width: 12px;
}

.details-of-therapy .disorder-item-details .answer::-webkit-scrollbar-track {
    background: #f1f1f198;
    border-radius: 10px;
}

.details-of-therapy .disorder-item-details .answer::-webkit-scrollbar-thumb {
    background-color: #662f2658;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.details-of-therapy .disorder-item-details .answer::-webkit-scrollbar-thumb:hover {
    background: #662e26;
}

.details-of-therapy .disorder-item-details {
    max-height: 400px;
}

.availability .org-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



.details-of-therapy .view-more-button {
    cursor: pointer;
    padding: 10px 10px;
    border: unset;
    border-radius: 5px;
    margin: 10px 5px;
    color: #662E26;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    z-index: 1;
    background-color: #ffffffac;
    position: relative;
    font-weight: 700;
    font-size: 13px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.details-of-therapy .view-more-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #662E26;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.details-of-therapy .view-more-button:hover {
    color: #e8e8e8;
}

.details-of-therapy .view-more-button:hover::before {
    width: 100%;
}

@media (max-width: 900px) {
    .therapy-details {
        grid-template-columns: 1fr;
        width: 97vw;
        /* border: 1px solid red; */
    }

    .therapy-details-image {
        display: none;
    }

    
}